{% extends 'base.html'%}

{% block title %}
<title>작업 일지</title>
{% endblock %}

{% block body %}
{% load static %}
<!-- Hero Start -->
<div class="container-fluid pt-5 bg-primary hero-header">
    <div class="container pt-2">
        <div class="row g-5 pt-5">
            <div class="col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
                <h1 class="display-4 text-white mb-4">작업 일지</h1>
                <p class='text-white'>작업자 출입 일지가 기록되는 장소입니다.</p>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->
<div class="board_wrap">
    <div class="board_title">
        <strong>작업 일지 입력</strong>
    </div>
    <div class="board_write_wrap">
        <form action="{% url 'workLogWriteSubmit' %}" id="work-form" method="post">
            {% csrf_token %}
            <div class="board_write">
                <div class="title">
                    <dl>
                        <dt>제목</dt>
                        <dd><input type="text" id="title" name = "title" minlength = "3" placeholder="제목 입력" required></dd>
                    </dl>
                </div>
                <div class="info">
                    <dl>
                        <dt>작업 시작 날짜</dt>
                        <dd><input type="date" id="start" name="start" required></dd>
                    </dl>
                    <dl>
                        <dt>작업 종료 날짜</dt>
                        <dd><input type="date" id="end" name="end" required></dd>
                    </dl>
                    <dl>
                        <dt>금일 작업 시작 시간</dt>
                        <dd><input type="time" id="in_time" name="in_time" required></dd>
                    </dl>
                    <dl>
                        <dt>금일 작업 종료 시간</dt>
                        <dd><input type="time" id="out_time" name="out_time" required></dd>
                    </dl>
                    <dl>
                        <dt>작업 유형</dt>
                        <dd>
                            <select id="work_type" name="work_type" required>
                                <option value="">유형 선택</option>
                                <option value="maintenance">유지보수 및 점검</option>
                                <option value="cleaning">청소</option>
                                <option value="repair">수리</option>
                            </select>
                        </dd>
                    </dl>
                </div>
                <div class="cont">
                    <textarea id = "contents" name = "contents" placeholder="내용 입력"></textarea>
                </div>
            </div>
        </form>
        <div class="bt_wrap">
            <button type="submit" class="btn btn-dark btn-lg" style="padding-left: 20px; padding-right: 20px;" form="work-form">등록</button>
            <button class="btn btn-white btn-lg" style="padding-left: 20px; padding-right: 20px;" onclick="window.location.href='/main/workLog/'">취소</button>
        </div>
    </div>
</div>

{% endblock %}

