{% extends 'base.html'%}

{% block title %}
<title>작업 일지</title>
{% endblock %}

{% block body %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'workLog/css/workLog.css' %}">
<div class="container-fluid pt-5 bg-primary hero-header">
    <div class="container pt-2">
        <div class="row g-5 pt-5">
            <div class="col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
                <h1 class="display-4 text-white mb-4">작업 일지</h1>
                <p class='text-white'>작업자 출입 일지가 기록되는 장소입니다.</p>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->

<div class="board_wrap">
    <div class="menu_bar">
    <!--announcement.html = 공지사항.html-->
        <ul class="select_board">
            <li><a href="{% url 'workLog' %}"><button class="custom-btn btn-3"><span>작업일지</span></button></a></li>
            <li><a href="{% url 'videoLog' %}"><button class="custom-btn btn-3"><span>영상로그</span></button></a></li>
        </ul>
    </div>
    <div class="board_list_wrap">
        <div class="board_list">
            <div class="top">
                <div class="num">번호</div>
                <div class="title">제목</div>
                <div class="writer">글쓴이</div>
                <div class="date">작성일</div>
                <div class="approved">승인</div>
            </div>
            {% for board in page_obj %}
            <div>
                <div class="num">{{ forloop.counter }}</div>
                <div class="title"><a href="{% url 'workLogView' board_id=board.board_id %}">{{ board.title }}</a></div>
                <div class="writer">{{ board.user_id }}</div>
                <div class="date">{{ board.day }}</div>
                <div class="approved">
                    {% if board.approved %}
                        승인
                    {% else %}
                        대기 중
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="board_page">
            <a href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}" class="bt prev"><</a>
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a href="#" class="num on">{{ num }}</a>
                {% else %}
                    <a href="?page={{ num }}" class="num">{{ num }}</a>
                {% endif %}
            {% endfor %}
            <a href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}" class="bt next">></a>
        </div>
        <div class="card_body">
            <!--작업일지 게시판에서 내용 검색-->
            <form action="{% url 'workLogSearch' %}" id="search-form" method="get">
                <input id="search"type="search" placeholder="검색어 입력...">
                <a id="search-link" class="search" href="#">검색</a>
            </form>
            <div class="bt_wrap">
                <a href="{% url 'workLogWrite' %}" class="on" style="margin: 10px;">등록</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
<script>
    var searchInput = document.getElementById("search");
    var searchLink = document.getElementById("search-link");
    
    searchLink.addEventListener("click", function(event) {
        event.preventDefault(); // 기본 동작인 링크 이동을 방지
        
        var keyword = searchInput.value; // 입력된 검색어 가져오기
        
        if (keyword === "") {
            window.location.href = "/main/workLog/"; // 검색어가 비어있을 때의 URL
        } else {
            var url = '/main/workLog/search/?keyword=' + encodeURIComponent(keyword);
            window.location.href = url;
        }
    });
</script>
{% endblock %}