{% extends 'base.html'%}

{% block title %}
<title>공지 사항</title>
{% endblock %}

{% block body %}
{% load static %}
<!-- Hero Start -->
<div class="container-fluid pt-5 bg-primary hero-header">
    <div class="container pt-2">
        <div class="row g-5 pt-5">
            <div class="col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
                <h1 class="display-4 text-white mb-4">공지 사항</h1>
                <p class='text-white'>공지사항을 빠르고 정확하게 안내해드립니다.</p>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->

<!-- Notice Start -->
<div class="board_wrap">
    <div class="board_view_wrap">
        <div class="board_view">
            <div class="title">
                {{ post.title }}
                {% if role == "관리자" %}
                    <button class="btn btn-danger" id="delete-btn" data-id="{{ post.id }}" >삭제</button>
                {% endif %} 
            </div>
            <div class="info">
                <dl>
                    <dt>글쓴이</dt>
                    <dd>{{ post.name}}</dd>
                </dl>
                <dl>
                    <dt>작성일</dt>
                    <dd>{{ post.created }}</dd>
                </dl>
            </div>
            <div class="cont">
                {{ post.content }}
            </div>
        </div>
        <div class="bt_wrap">
            <a href="/main/notice/" class="on">목록</a>
            {% if role == "관리자" %}
                <a href="{% url 'noticeEdit' post.id %}">수정</a>
            {% endif %}
        </div>
    </div>
</div>
<!-- Notice End-->
{% endblock %}

{% block js %}
{% load static %}
    <script src = "{% static 'notice/js/noticeDelete.js' %}"></script>
{% endblock %}
