{% extends 'base.html'%}

{% block title %}
<title>영상 로그</title>
{% endblock %}

{% block body %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'videoLog/css/videoPlayer.css' %}">
    <!-- Hero Start -->
    <div class="container-fluid pt-5 bg-primary hero-header">
        <div class="container pt-5">
            <div class="row g-5 pt-5">
                <div class="col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
                    <h1 class="display-4 text-white mb-4 animated slideInRight">영상 로그</h1>
                    <p class='text-white'>업로드한 영상의 영상 로그가 저장됩니다.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <div>
        {% load static %}
        <div class="video-box">
            <video controls class="viewer">
                <source src="{% static folder_path %}" type="video/mp4">
            </video>
            <div class='log-box'>
                <div class='log-inner'>
                    <h2 class='title'>이벤트 로그</h2>
                    <div class='log-list'>
                        {% if content %}
                            {% for item in content %}
                                <p class='logItem'>{{item.day}} <span class='local'>{{item.local}}</span><span class='time'> {{ item.fps }}초</span> <span class='event'>{{ item.event }}</span>
                                </p>
                            {% endfor %}
                        {% endif %} 
                    </div>
                </div>
            </div>
        </div>
    </div>
      
    <script src="{% static 'videoLog/js/videoLogPlayer.js' %}"></script>
{% endblock %}