{% extends 'base.html'%}

{% block title %}
<title>작업자 안전</title>
{% endblock %}

{% block body %}
{% load static %}
    
    <!-- Hero Start -->
    <div class="container-fluid pt-5 bg-primary hero-header">
        <div class="container pt-5">
            <div class="row g-5 pt-5">
                <div class="col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
                    <h1 class="display-4 text-white mb-4 animated slideInRight">작업자 안전</h1>
                    <p class='text-white'>작업자가 작업할 때 안전복장을 준수했는지, 작업자 사고 발생시 경고를 보낼 수 있습니다.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->

    <!-- Upload Start -->
    <div class="container p-5">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 mt-5">
                <div class="bg-white p-5 rounded shadow-sm border">
                    <form method="post" enctype="multipart/form-data" action="{% url 'uploadWorkSubmit' %}">
                        <p>모델 선택</p>
                        <select name="model_selector" id="model_selector">
                            <option value="ppe">작업자 보호장비</option>
                            <option value="fallen">추락사고</option>
                        </select>

                        {% csrf_token %}
                        <div class="dropzone d-block">
                            <label for="files" class="dropzone-container">
                                <div class="file-icon"><i class="fa-solid fa-file-circle-plus text-primary"></i></div>
                                <div class="text-center pt-3 px-5">
                                    <p id="uploadedFiles" class="w-80 h5 text-dark fw-bold">업로드 할 동영상을 선택해주세요( .mp4 )</p>
                                    <div class="hr-sect">aivle</div>
                                    <button id="submit-btn" type="submit" class="btn btn-primary mb-2">업로드</button>
                                </div>
                            </label>
                            <input id="files" name="files[]" type="file" class="file-input" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
      
    <!-- Upload end -->

{% endblock %}
{% block js %}
    {% load static %}
    <script src="{% static 'upload/js/upload.js' %}"></script>
    <link href="{% static 'upload/css/upload.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}